@charset "UTF-8";


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body{
  height: 100%;
  width: 100%;
  background-image: url('images/bg-ecommerce.jpg');
  background-size: cover;
  background-position: center;
  
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #161a2d;
  padding: 25px 20px;
  transition: all 0.4s ease;
  z-index: 1000;
}

.sidebar:hover {
  width: 278px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 42px;
  border-radius: 50%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #fd7337;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #fd7337;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}


nav{
   background: #fff;
   width: 100%;
   padding: 10px 2%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   z-index: 1;
   
}

.wrapper{
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: #161a2d;
}
.wrapper form {
  padding: 10px 30px 50px 30px;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus,
form .field input:valid {
  border-color: #fd7337;
}

.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #fd7337;
  background: #fff;
  transform: translateY(-50%);
}

form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: #161a2d;
  transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
  transform: scale(0.95);
}

/* Styling for file input */
form .form-group input[type="file"] {
  height: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: calc(100% - 0px);
}

form .form-group input[type="file"]:hover {
  border-color: #fd7337;
}

form .form-group input[type="file"]::file-selector-button {
  background: #161a2d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form .form-group input[type="file"]::file-selector-button:hover {
  background-color: #fd7337;
}

input[type="text"],
input[type="radio"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-radio-label {
  margin-left: 10px;
  font-size: 16px;
  color: #555;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #fd7337;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #e66e2d;
}

.select {
  position: relative;
  margin-top: 20px;
  height: 50px;
}

.select select {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.select select:focus {
  border-color: #fd7337;
}

.select label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.select select:focus ~ label,
.select select:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #fd7337;
  background: #fff;
  transform: translateY(-50%);
}


.sidebar-header .hamburger-icon {
    font-size: 31px;
    cursor: pointer;
    margin-left: 13px;
    color: white;
}
        
.logo{
	margin-left: 75px;
}
#embedTrack {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.user-pic{
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 30px;
	border: 2px solid #000;
	
}

.sub-menu-wrap{
	position: absolute;
	top: 100%;
	right: 1%;
	width: 320px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s;
	
}

.sub-menu-wrap.open-menu{
	max-height: 400px;
}

.sub-menu{
	background: #fff;
	padding: 20px;
	margin: 10px;
}

.user-info{
	display:flex;
	align-items: center;
}

.user-info h3{
	font-weight: 500;
}

.user-info img{
	width: 60px;
	border-radius: 50%;
	margin-right: 15px;
	
}

.sub-menu hr{
	border: 0;
	height: 1px;
	width: 100%;
	background: #ccc;
	margin: 15px 0 10px;
}

.sub-menu-link{
	display:flex;
	align-items: center;
	text-decoration: none;
	color: #525252;
	margin: 12px 0;
	
}

.sub-menu-link p{
	width: 100%;
}

.sub-menu-link img{
	width: 40px;
	background: #e5e5e5;
	border-radius: 50%;
	padding: 8px;
	margin-right: 15px;
	
}

.sub-menu-link span{
	font-size: 22px;
	transition: transform 0.5s;
}

.sub-menu-link:hover span{
	transform: translateX(5px);
}

.sub-menu-link:hover p{
	font-weight: 600;
}





.user-detail-card, .tracking-history-card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.user-detail-card h2, .tracking-history-card h2 {
    margin-top: 0;
    color: #333;
}



.shipment-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
}

.shipment-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.shipment-actions {
    display: flex;
    gap: 10px;
}

.user-detail-card, .tracking-history-card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.user-detail-card h2, .tracking-history-card h2 {
    margin-top: 0;
    color: #333;
}



.user-info img {
    border-radius: 50%;
    margin-right: 20px;
}


.btn-primary {
    background-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-primary:hover, .btn-danger:hover {
    opacity: 0.9;
}

.btn-edit-profile {
    background-color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.btn-edit-profile .material-symbols-outlined {
    font-size: 24px;
}


.btn-add-parcel .material-symbols-outlined {
    margin-right: 5px;
    font-size: 20px;
}

.shipment-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.shipment-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.shipment-actions {
    display: flex;
    gap: 10px;
}




.con {
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.con h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}



input[type="text"],
input[type="radio"] {
    width: calc(100% - 0px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.input-radio-label {
    margin-left: 10px;
    font-size: 16px;
    color: #555;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #fd7337;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button[type="submit"]:hover {
    background-color: #e66e2d;
}



button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #5a5a5a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}


footer { 
    text-align: center;
    padding: 3px;
    background-color: #f8f8f8;
    color: #000;
    font-size: 10px;
}


.container {
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin-left: 13%;
    margin-top: 7%;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.btn.btn-add-parcel {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fd7337;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn.btn-add-parcel:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

table thead th {
    background-color: #fd7337;
    color: white;
    padding: 10px;
    text-align: left;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}

table td, table th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table td img {
    border-radius: 5px;
}

table td a {
    color: #fd7337;
    margin: 0 5px;
    transition: color 0.3s ease;
}

table td a:hover {
    color: #333;
}

